.button-add {
  display: flex;
  justify-content: space-evenly;
}
.contract-about-to-finish-row {
  background-color: rgb(218, 233, 123);
}

.contract-finished-row {
  background-color: rgb(244, 166, 166);
}

.map-container {
  position: relative;
  width: 94%;
  height: 400px;
  margin: 30px;
}
